@using MudBlazor

<MudAppBar Elevation="0" Dense="true" Class="bottom-nav-bar" Bottom="true" Color="Color.Surface">
    <div class="bottom-nav-content">
        <MudNavLink Href="/" Match="NavLinkMatch.All" Class="bottom-nav-link">
            <MudIcon Icon="@Icons.Material.Filled.Home" />
            <div class="bottom-nav-label">Início</div>
        </MudNavLink>

        <MudNavLink Href="/transactions" Match="NavLinkMatch.Prefix" Class="bottom-nav-link">
            <MudIcon Icon="@Icons.Material.Filled.ReceiptLong" />
            <div class="bottom-nav-label">Lançamentos</div>
        </MudNavLink>

        <MudNavLink Href="/transactions/add" Match="NavLinkMatch.Prefix" Class="bottom-nav-link bottom-nav-link-add" AriaLabel="Adicionar transação">
            <MudIcon Icon="@Icons.Material.Filled.Add" />
            <div class="bottom-nav-label">Novo</div>
        </MudNavLink>

        <MudNavLink Href="/categories" Match="NavLinkMatch.Prefix" Class="bottom-nav-link">
            <MudIcon Icon="@Icons.Material.Filled.Category" />
            <div class="bottom-nav-label">Categorias</div>
        </MudNavLink>

        <MudMenu Dense="true" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.BottomCenter" Class="bottom-nav-link bottom-nav-more-menu">
            <ActivatorContent>
                <div class="bottom-nav-more-activator">
                    <MudIcon Icon="@Icons.Material.Filled.MoreHoriz" />
                    <div class="bottom-nav-label">Mais</div>
                </div>
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem Href="/accounts">Dados das contas</MudMenuItem>
            </ChildContent>
        </MudMenu>
    </div>
</MudAppBar>
